/** MyriadPro **/
@font-face {
    font-family: Madefor;
    src: url(madefor/DisplayRegular.otf);
    font-weight: normal;
}

@font-face {
    font-family: Madefor;
    src: url(madefor/DisplayBold.otf);
    font-weight: 700;
}

@font-face {
    font-family: Madefor;
    src: url(madefor/DisplayExtraBold.otf);
    font-weight: 900;
}
